
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ac7758;
  }
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
  }

#opt
{
  list-style-type: none;

}
